@model Waad_Academy_School.Models.Student
@{
    ViewBag.Title = "Bloom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>

<div class="row">
    <div class="col-md-12">
        <img src="~/Assets/Images/Bloom/BloomHeader.jpg" height="100%" width="100%" />
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="background:lightgray">
        <hr />
        <div class="form-group">
            <div class="row">
                <div class="col-md-10" style="margin:0px 40px 0px 40px">
                    <p>
                        <b>Dear Parents,</b><br>
                        In order to provide better quality services in many different fields for our students, please kindly fill out the form below for the student's address.<br>
                        Thank you<br>
                        Bloom Schools
                    </p>
                </div>
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <center>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.LabelFor(model => model.StudentNo, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-7">
                                @*@Html.EditorFor(model => model.StudentNo, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return OnlyNumeric(this);", @onkeyup = "return OnlyNumeric(this);", @onkeydown = "return OnlyNumeric(this);", @maxlength = "10", @oncopy = "return false", @onpaste = "return false", @oncut = "return false" } })*@
                                @Html.EditorFor(model => model.StudentNo, new { htmlAttributes = new { @class = "form-control", @oncopy = "return false", @onpaste = "return false", @oncut = "return false", @maxlength = "10" } })
                                @Html.ValidationMessageFor(model => model.StudentNo, "", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.Latitude)
                                @Html.HiddenFor(m => m.Longitude)
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-3">
                                <input type="button" value="Submit" class="btn btn-primary" onclick="return getLocation()" />
                            </div>
                            @*<div class="col-md-offset-4 col-md-2">
            <input type="button" value="Allow app to get your loaction" class="btn btn-default" />
        </div>*@
                        </div>
                    </center>
                </div>
            </div>
        </div>
        @*<div class="form-group">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.StudentNo, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.StudentNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StudentNo, "", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.Latitude)
                                @Html.HiddenFor(m => m.Longitude)
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-4">
                                <input type="button" value="Submit" class="btn btn-primary" onclick="getLocation()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
}

<script type="text/javascript">
    var x = document.getElementById("demo");
    function getLocation() {

        var stdNo = $("#StudentNo").val();
        var val = $.isNumeric($("#StudentNo").val());

        if (stdNo == "") {
            alert("Please Enter National Id");
            return false
        }

        if (stdNo.length > 10 || stdNo.length < 10 || val == false) {
            alert("Invalid Student no");
            return false;
        }
        else {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            }
            else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                alert("Location access for the application is blocked, kindly click on help tab and follow instructions to allow access to your location.");
                //x.innerHTML = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                alert("Location information is unavailable.");
                //x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                alert("The request to get user location timed out.");
                //x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                alert("An unknown error occurred.");
                //x.innerHTML = "An unknown error occurred."
                break;
        }
    }
    function showPosition(position) {
        //x.innerHTML = "Latitude: " + position.coords.latitude +"<br>Longitude: " + position.coords.longitude;
        document.getElementById('Latitude').value = position.coords.latitude;
        document.getElementById('Longitude').value = position.coords.longitude;


        var student = {
            StudentNo : $('#StudentNo').val(),
            SchoolId: 2,
        Latitude : $('#Latitude').val(),
        Longitude : $('#Longitude').val()
        };

        debugger;
        $.ajax({
             url: '@Url.Action("StudentSave", "Student")',
            data: '{student: ' + JSON.stringify(student) + '}',
            type: "post", //HTTP POST Method
               dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                //alert("Your details have been saved Thank you from Dar Bloom");
                alert("Thank you for submission");
                $("#StudentNo").val("");
                window.location.href = '/Student/Thankyou';
               },
               error: function () {
                   alert("Error while inserting data");
               }
           });
    }

    $(document).ready(function () {
        alert('You should be present at your residence to open this link');
        //$.jAlert('ok');
    });
    function OnlyNumeric(evt) {
        debugger
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

</script>
