@model Waad_Academy_School.Models.Student
@{
    ViewBag.Title = "DarAlThikrGirls";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>

<div class="row">
    <div class="col-md-12">
        <img src="~/Assets/Images/Dar Al Zikr Girl/DarulThikrGirls.jpg" height="80%" width="100%" />
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="background:lightgray">
        <hr />
        <div class="form-group">
            <div class="row">
                <div class="col-md-10 pull-right" style="margin-left:40px;margin-right:40px">
                    <p style="text-align:right; font-size:large">
                        @*<b>Dear Parents,</b><br>*@
                        من أجل تقديم خدمات ذات جودة أفضل في العديد من المجالات المختلفة لطالباتنا ، يرجى ملء النموذج أدناه للحصول على عنوان الطالب

                        رقم هوية الطالبة/الإقامة
                        <br>
                    <p style="text-align:right; font-size:large">شكرا</p>
                    <br>
                    </p>
                </div>
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <center>
                        <div class="row">
                            <div class="col-md-5">
                                @Html.LabelFor(model => model.StudentNo, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.StudentNo, new { htmlAttributes = new { @class = "form-control", @onkeypress = "return OnlyNumeric(this);", @onkeyup = "return OnlyNumeric(this);", @maxlength = "10", @oncopy = "return false", @onpaste = "return false", @oncut = "return false" } })
                                @Html.ValidationMessageFor(model => model.StudentNo, "", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.Latitude)
                                @Html.HiddenFor(m => m.Longitude)
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-3">
                                <input type="button" value="إرسال" class="btn btn-primary" onclick="return getLocation()" />
                            </div>
                            @*<div class="col-md-offset-4 col-md-2">
                                    <input type="button" value="Allow app to get your loaction" class="btn btn-default" />
                                </div>*@
                        </div>
                    </center>
                </div>
            </div>
        </div>
        @*<div class="form-group">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.Label("رقم هوية الطالب/ة او الإقامة", htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.StudentNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StudentNo, "", new { @class = "text-danger" })
                                @Html.HiddenFor(m => m.Latitude)
                                @Html.HiddenFor(m => m.Longitude)
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-4">
                                <input type="button" value="Submit" class="btn btn-primary" onclick="getLocation()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

    </div>
}

<script type="text/javascript">
    var x = document.getElementById("demo");
    function getLocation() {
        var myLength = $("#StudentNo").val().length;
        if (myLength > 10) {
            alert("يجب أن يكون الرقم القومي أقل من 10 أحرف");
            //$("#StudentNo").val("");
            return false;
        }
        if (document.getElementById('StudentNo').value == "") {
            alert("الرجاء إدخال الرقم القومي");
            return false
        }
        else {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            }
            else {
                x.innerHTML = "الموقع الجغرافي غير مدعوم من قبل هذا المتصفح";
            }
        }
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                alert("تم حظر الوصول إلى الموقع للتطبيق ، يرجى النقر فوق علامة التبويب Help واتبع التعليمات للسماح بالوصول إلى موقعك.");
                //x.innerHTML = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                alert("معلومات الموقع غير متوفرة");
                //x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                alert("طلب الحصول على موقع المستخدم انتهت مهلة");
                //x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                alert("حدث خطأ غير معروف");
                //x.innerHTML = "An unknown error occurred."
                break;
        }
    }
    function showPosition(position) {
        //x.innerHTML = "Latitude: " + position.coords.latitude +"<br>Longitude: " + position.coords.longitude;
        document.getElementById('Latitude').value = position.coords.latitude;
        document.getElementById('Longitude').value = position.coords.longitude;


        var student = {
            StudentNo : $('#StudentNo').val(),
            SchoolId: 3,
        Latitude : $('#Latitude').val(),
        Longitude : $('#Longitude').val()
        };

        debugger;
        $.ajax({
             url: '@Url.Action("StudentSave", "Student")',
            data: '{student: ' + JSON.stringify(student) + '}',
            type: "post", //HTTP POST Method
               dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function () {
                //alert("Your details have been saved Thank you from Dar Althikr Girls");
                alert("شكرا لكم");
                $("#StudentNo").val("");
               },
               error: function () {
                   alert("خطأ أثناء إدخال البيانات");
               }
           });
    }

    $(document).ready(function () {
        alert('يجب ان تكون في منزلك لفتح هذا الرابط');
        //$.jAlert('ok');
    });


</script>
